@{
    ViewData["Title"] = "Hasta Giriş";
}

<h2>Hasta Girişi</h2>

<form asp-action="LoginHasta" asp-controller="Account" method="post">
    <div>
        <label for="username">Kullanıcı Adı:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Şifre:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Giriş Yap</button>
</form>
