@namespace Prolab22__3.Views.Arayuzler
@model Prolab22__3.Models.Doktor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doktor Ekle</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Doktor Ekle</h1>
    <form action="/Doktor/Ekle" method="post">
        <label for="ad">Ad:</label>
        <input type="text" id="ad" name="ad" required><br><br>
        <label for="soyad">Soyad:</label>
        <input type="text" id="soyad" name="soyad" required><br><br>
        <label for="uzmanlik">Uzmanlık Alanı:</label>
        <input type="text" id="uzmanlik" name="uzmanlik" required><br><br>
        <label for="hastane">Çalıştığı Hastane:</label>
        <input type="text" id="hastane" name="hastane" required><br><br>
        <input type="submit" value="Kaydet">
    </form>
</body>
</html>
