@namespace Prolab22__3.Views.Arayuzler
@model List<Prolab22__3.Models.Doktor>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doktor Listesi</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Doktor Listesi</h1>
    <ul>
        @foreach (var doktor in Model)
        {
            <li>@doktor.Ad @doktor.Soyad - @doktor.UzmanlikAlani</li>
        }
    </ul>
</body>
</html>
