@namespace Prolab22__3.Views.Arayuzler
@model List<Prolab22__3.Models.Hasta>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasta Listesi</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Hasta Listesi</h1>
    <ul>
        @foreach (var hasta in Model)
        {
            <li>@hasta.Ad @hasta.Soyad</li>
        }
    </ul>
</body>
</html>
