@model Prolab22__3.Models.YoneticiViewModel

@{
    ViewData["Title"] = "Yönetici Listesi";
}

<h1>Yönetici Listesi</h1>

<table class="table">
    <thead>
        <tr>
            <th>Yönetici ID</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var yonetici in Model.Yoneticiler)
        {
            <tr>
                <td>@yonetici.YoneticiID</td>
                <td>@yonetici.Ad</td>
                <td>@yonetici.Soyad</td>
                <td>
                    <a asp-controller="YoneticiInterface" asp-action="Details" asp-route-id="@yonetici.YoneticiID">Detaylar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="YoneticiInterface" asp-action="Create">Yeni Yönetici Ekle</a>
