@model Prolab22__3.Models.Doktor

@{
    ViewData["Title"] = "Yeni Doktor Ekle";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    
        <div class="form-group">
            <label asp-for="Ad">Ad</label>
            <input asp-for="Ad" class="form-control" />
            <span asp-validation-for="Ad" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Soyad">Soyad</label>
            <input asp-for="Soyad" class="form-control" />
            <span asp-validation-for="Soyad" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UzmanlikAlani">Uzmanlık Alanı</label>
            <input asp-for="UzmanlikAlani" class="form-control" />
            <span asp-validation-for="UzmanlikAlani" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CalistigiHastane">Çalıştığı Hastane</label>
            <input asp-for="CalistigiHastane" class="form-control" />
            <span asp-validation-for="CalistigiHastane" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Şifre</label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>